@model IEnumerable<XuanHoang.Models.Customers>
    @{ Layout = "_Layout"; ViewBag.Title = "All Customers";}
    <div class="row">
        <div class="col-md-12">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#">Manager</a>
                <span class="breadcrumb-item active">Customers</span>
            </nav>
            <h2>All Customers</h2>
    <a href="/customers/addcustomers" class="btn btn-sm btn-primary">Add Customers</a>
    <a href="/customers/getcustomers" class="btn btn-sm btn-secondary">Get Customers</a>
     
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Pass</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Name</td>
                    <td>@r.Email</td>
                    <td>@r.Address</td>
                    <td>@r.Phone</td>
                    <td>@r.Pass</td>
                    <td>
                        <a type="submit" href="/customers/updatecustomers/@r.Id" asp-route-id="@r.Id" style="background-color: green; color: white; border: 2px;">Update</a>
                            @* <img src="/XuanHoang/icon/update.png"/> *@
                        @* <form action="UpdateTodoItemPatch" id="@r.Id" method="POST"> 
                            <img src="/icon/update.png"/>
                        </form> *@
                    </td>
                    <td>
                        <form action="/customers/deletecustomers" method="get">
                            <input type="hidden" value="@r.Id" name="Id" />
                            <input type="submit" value="Delete" style="background-color: red; color: white; border: 2px;c"/>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        </div>
    </div>
    